<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzhou.entrance.guard">

    <!-- 读取Log权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读出数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <!--云测权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- SDK需要使用的权限 -->
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.USE_SIP_EMI" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP_EMI" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <permission
        android:name="android.permission.USE_SIP"
        android:label="permlab_useSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />
    <permission
        android:name="android.permission.CONFIGURE_SIP"
        android:label="permlab_configureSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera.autofocus"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera.flash"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera.front"-->
        <!--android:required="false" />-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:launchMode="singleTask"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".module.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".receive.BootCompletedReceive">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.zzhou.entrance.guard.RESET_MAIN"/>
            </intent-filter>
        </receiver>
        <!--数据库本地数据-->
        <provider
            android:name=".source.WsProvider"
            android:authorities="com.zzhou.entrance.guard"
            android:exported="false" />

        <service
            android:name=".netty.NettyService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!--<service android:name=".netty.MyJobService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
            <!--android:process=":jobs"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE"/>-->

        <receiver android:name=".receive.MyAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED"/>
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE" />-->
            </intent-filter>
        </receiver>

        <receiver android:name=".receive.ReplaceAddRemoveBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <provider
            android:name="com.csipsimple.service.PreferenceProvider2"
            android:authorities="com.pjsip.prefs1"
            android:permission="android.permission.CONFIGURE_SIP" />

        <receiver
            android:name="com.csipsimple.pjsip.netChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.csipsimple.plugins.codecs.ReceiverG729"
            android:exported="false" >
            <meta-data
                android:name="lib_name"
                android:value="libpj_g729_codec.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_g729_init" />

            <intent-filter>
                <action android:name="com.csipsimple.codecs.action.REGISTER_CODEC" />
            </intent-filter>
        </receiver>
    </application>

</manifest>